.welcome {
    margin: auto;
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url('../images/dirt.jpg');    
    width:fit-content;
    height:fit-content;
    border-style: double;
    border-width: 10px;
    border-color: rgb(70, 50, 13);
    padding: 1em;
}

.page {
    display:flex;
    flex-direction: column;
    gap: 50px;
}

.stats {
    justify-content: center;
    display: flex;
}

.statsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 1.4em;
    gap: 10px;
}

.oneLine {
    display: flex;
    justify-content: center;
    gap: 150px;
    align-items: flex-start;
}

.inventory {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    background-image: url('../images/dirt.jpg');
    width:fit-content;
    height:fit-content;
    border-style: double;
    border-width: 10px;
    border-color: rgb(70, 50, 13);
    padding: 1em;
}

.bothInventories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 100px;
    font-size: 1.7em;
}

.oneColumn {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.spellList {
    opacity: 75%
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin: auto;
    background-image: url('../images/dirt.jpg');
    width:fit-content;
    height:fit-content;
    padding: 1em;
    font-size: 1.1em;
}

.selectedSpell {
    display: flex;
    justify-content: space-evenly;
    background-image: url('../images/dirt.jpg');
    width:260px;
    height:300px;
    border-style: double;
    border-width: 10px;
    border-color: rgb(70, 50, 13);
    padding: 1em;
}


.errorMessage {
    justify-content: center;
    font-size: 1.7em;
    background-image: url('../images/dirt.jpg');
    width:fit-content;
    height:fit-content;
    padding: 1em;
    border-style: double;
    border-width: 10px;
    border-color: rgb(70, 50, 13);
    margin:auto;

}