.Stats {
    text-align: center;
    background-image: url('../images/dirt.jpg');    
    width:260px;
    height:fit-content;
    border-style: double;
    border-width: 10px;
    border-color: rgb(70, 50, 13);
    padding: 1em;

  }